<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '205045271406857',
            cookie: true,
            xfbml: true,
            version: 'v2.7'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


{#<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>#}


<body>


<fb:login-button
        scope="public_profile,email"
        onlogin="checkLoginState();">
</fb:login-button>

</body>

<script>
    FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
    });


    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    function statusChangeCallback(repo) {
        console.log(repo.authResponse.accessToken)
    }

</script>

</html>